/* play header */
.play{
    margin: 0 auto;
    width: 50%;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* table */
table.play_table {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 50%;
  text-align: left;
  border-collapse: collapse;
  margin: 0 auto;
  font-family: sans-serif;
}
table.play_table th{
  border: 1px solid #AAAAAA;
  padding: 4px 4px 4px 5px;
}
table.play_table td  {
  border: 1px solid #AAAAAA;
  padding: 4px 4px 4px 5px;
}
table.play_table tbody td {
  font-size: 16px;
  padding-left: 20px;
}
table.play_table thead th:first-child {
  border-left: none;
}
/* top header for table */
.top-header{
  width: 5%;
  background-color: #3498DB;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

/* side header for table */
.side-header{
  background-color: #bbb7b7;
  height: 30px;
}

/* Update Link */
.update{
  font-size: 16px;
}
#play_update {
  float: left;
  background-color: #3498DB;
  margin-bottom: 20px;
  margin-left: 20px;
}
#play_update {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 14px;
}
/* Change the color of links on hover */
#play_update :hover {
  background-color: #2980B9;
  color: black;
}

/* Update Link */
.delete{
  font-size: 16px;
}
#play_delete {
  float: right;
  background-color: #3498DB;
  margin-bottom: 20px;
  margin-right: 20px;

  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 14px;
}
/* Change the color of links on hover */
#play_delete :hover {
  background-color: #2980B9;
  color: black;
}
