{% extends 'base.html' %}

{% block head %}
<link nonce="{{ csp_nonce() }}" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script nonce="{{ csp_nonce() }}" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js" ></script>
{% endblock %}

{% block body %}
<div class="container">

    <div class="form-group">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Play</legend>
                <div class="form-group">
                    {{ form.play_name.label(class="form-control-label") }}
                    {% if form.play_name.errors %}
                    {{ form.play_name(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.play_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.play_name(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.playbook_owner.label(class="form-control-label") }}
                    {% if form.playbook_owner.errors %}
                    {{ form.playbook_owner(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.playbook_owner.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.playbook_owner(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="add_play_label" for="mitre_tactic">Mitre Tactic</label>
                    <select id="mitre_tactic" name="mitre_tactic" class="form-control form-control-md">
                        {% for item in tactics %}
                        <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="add_play_label" for="mitre_id">Mitre Technique</label>
                    <select class="js-example-basic-multiple form-control form-control-md" name="mitre_id[]"
                        multiple="multiple">
                        {% for key, value in combined_mitre_info.items() %}
                        <option value="{{key}} {{value}}">{{key}} {{value}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    {{ form.playbook_description.label(class="form-control-label") }}
                    {% if form.playbook_description.errors %}
                    {{ form.playbook_description(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.playbook_description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.playbook_description(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.severity.label(class="form-control-label") }}
                    {% if form.severity.errors %}
                    {{ form.severity(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.severity.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.severity(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.playbook_status.label(class="form-control-label") }}
                    {% if form.playbook_status.errors %}
                    {{ form.playbook_status(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.playbook_status.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.playbook_status(class="form-control form-control-md") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>

        </form>
        <script nonce="{{ csp_nonce() }}">
            $(document).ready(function () {
                $('.js-example-basic-multiple').select2();
                width: "100%"
            });
        </script>
    </div>

    {% endblock %}