{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div>
        <div class="container">
                <h1 class="play">Archive List</h1>
        </div>
        <table class="table table-bordered">
                <tr>
                        <th class="bg-primary" scope="col">Play Name</th>
                        <th class="bg-primary" scope="col">Date Archived</th>
                        <th class="bg-primary" scope="col">Action</th>
                </tr>
                {% for play in plays %}
                <tr>
                        <td scope="row">{{ play.play_name }}</td>
                        <td scope="row">{{ play.date_updated }}</td>
                        <td class="table-content">
                                <form class="btn btn-primary float-right" action="/unarchive/{{play.id}}" method="POST">
                                        {{ form.csrf_token }}
                                        {{ form.button(class="btn btn-primary") }}
                                </form>
                        </td>
                </tr>
                {%endfor%}

        </table>
</div>
<br>



<br>
{% endblock %}