{% extends 'base.html' %}

{% block head %}
<!-- CSS for customizing dropdown buttong -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="content">
	<h1>Playbook</h1>
	{% if plays | length > 0 %}
	<div class="dropdown">
	  <button onclick="dropdownFunction()" class="dropbtn">Plays</button>
	  <div id="myDropdown" class="dropdown-content">
	  	<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
	  	<!-- jinja2 for loop to pull in all plays and add them to the dropdown menu -->
	  	{% for play in plays %}
	  	<hr>
	    <a href="play/{{ play.id }}">{{ play.play_name }}</a>
	    {% endfor %}
	    <hr>
	  </div>
	  	{% else %}
			<p> 
		    	Start by <a href="{{ url_for('add_play') }}">Adding a Play</a>
			</p>

	    {% endif %}
	</div>
	<!-- script for handling dropdown button and filter function -->
	<script src="{{url_for('static', filename='js/dropdown.js')}}"></script>

{% endblock %}