{% extends 'base.html' %}

{% block head %}
<link nonce="{{ csp_nonce() }}" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script nonce="{{ csp_nonce() }}" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
	<form action="{{ plays.id }}" method="POST">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Editing {{ plays.play_name }}</legend>
			<div class="form-group">
				{{ form.playbook_owner.label(class="form-control-label") }}
				{{ form.playbook_owner(class="form-control form-control-md") }}
			</div>
			<div class="form-group">
				<label class="form-control-label" for="mitre_tactic">Mitre Tactic</label>
				<select id="mitre_tactic" name="mitre_tactic" class="form-control form-control-md">
					{% set default_value = plays.mitre_tactic %}
					{% if tactics is not none %}
					{% for item in tactics %}
					<option value="{{ item }}" {% if item==default_value %} selected="default_value" {%endif%}>{{item}}
					</option>
					{% endfor %}
					{% endif %}
				</select>
			</div>
			<div class="form-group">
				<label class="form-control-label" for="mitre_id">Mitre Technique</label>
				<select class="js-example-basic-multiple form-control form-control-md" name="mitre_id[]"
					multiple="multiple">
					{% set default_value = plays.mitre_id %}
					{% if plays.mitre_id is not none %}
					{% for key, value in combined_mitre_info.items() %}
					<option value="{{ key }} {{ value }}" {% if key in default_value %} selected="default_value"
						{%endif%}>{{key}} {{value}}</option>
					{% endfor %}
					{% endif %}
				</select>
			</div>
			<div class="form-group">
				{{ form.playbook_description.label(class="form-control-label") }}
				{{ form.playbook_description(class="form-control form-control-md") }}
			</div>
			<div class="form-group">
				{{ form.severity.label(class="form-control-label") }}
				{{ form.severity(class="form-control form-control-md") }}
			</div>
			<div class="form-group">
				{{ form.playbook_status.label(class="form-control-label") }}
				{{ form.playbook_status(class="form-control form-control-md") }}
			</div>
			<div class="form-group">
				<input type="submit" value="Update" class="btn btn-primary">
			</div>
	</form>
	<script nonce="{{ csp_nonce() }}">
		$(document).ready(function () {
			$('.js-example-basic-multiple').select2();
			width: "100%"
		});
	</script>

</div>
{% endblock %}